---
spring:
  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        ddl-auto: update
        # Hibernate ddl auto (create, create-drop, validate, update)
        jdbc:
          batch_size: 100
