table {
	background-color:	#a0a0a0;
}

tr:nth-child(odd) td {
	background-color: #f2f2f2;
}

tr:nth-child(even) td {
	background-color: #ffffff;
}

td {
	font-family:	'Open Sans';
	font-weight:	400;
	font-size:		12px;
}

th {
	font-family:	'Open Sans';
	font-weight:	400;
	font-size:		14px;
}
